body {
    color: rgb(0, 0, 0);
    background: rgb(210, 210, 252);
    margin: 1px;
    font-family: "Noto Serif", serif;
    margin-bottom: 100px
    border: 5px;
}

header {
border-bottom: solid 3px rgb(70, 68, 197);
padding: 15px;
font-size: 27px;
color: rgb(70, 68, 197);
}

.chamada {
    background: rgb(61, 26, 165);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
font-size: 38px

}

p {
font-size: 15px    
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(0, 0, 0);
    border-bottom: solid 60px;
    border-top: solid 5px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(70, 68, 197);
}

.categoria h2 {

    color:rgb(70, 68, 197);
    margin-top: 20px;
    margin-bottom: 20px;
}